@using PagedList
@using PagedList.Mvc
@model IEnumerable<Academy.Models.AdLink>

@{
    Layout = "~/Areas/Sysmgr/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $(function () {
            //刪除確認視窗
            $(".icon-trash-bin").click(function () {
                var itemId = $(this).data("id");
                var itemName = $(this).data("title");
                $("#delete-confirm").dialog({
                    position: { my: 'cneter', at: 'cneter' },
                    resizable: true,
                    height: 220,
                    modal: true,
                    open: function () {
                        $(this).find(".mark").html("ID" + itemId + ": " + itemName);
                    },
                    buttons: {
                        "確認刪除": function () {
                            $(this).dialog("close");
                            //這裡放置按下刪除時要進行的動作
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "/Sysmgr/AdLink/Delete",
                                data: { id: itemId },
                                error: function (request) {
                                },
                                success: function (data) {
                                    alert("刪除成功！");
                                    setTimeout(function () {
                                        location.href = location.href;
                                    }, 1000);
                                }
                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            //排序確認視窗
            $(".btnSort").click(function () {
                var data = [];
                $(".sort").each(function () {
                    var item = {};
                    item.ID = $(this).data("id");
                    item.Sort = $(this).val();
                    data.push(item);
                });
                if (data.length == 0) {
                    return;
                }
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/Sysmgr/AdLink/Sort",
                    data: { data: JSON.stringify(data) },
                    error: function (request) {
                    },
                    success: function (data) {
                        location.href = location.href;
                    }
                });
            });

            //批量確認視窗
            $(".btnDelete").click(function () {
                var data = [];
                $("input[name='checkbox']:checked").each(function () {
                    var item = {};
                    item.ID = $(this).data("id");
                    item.Sort = $(this).parent().parent().find(".sort").val();
                    data.push(item);
                });
                if (data.length == 0) {
                    return;
                }
                $("#delete-confirm").dialog({
                    position: { my: 'cneter', at: 'cneter' },
                    resizable: true,
                    height: 220,
                    modal: true,
                    open: function () {
                        $(this).find(".mark").html("");
                    },
                    buttons: {
                        "確認刪除": function () {
                            $(this).dialog("close");
                            //這裡放置按下刪除時要進行的動作
                            $.ajax({
                                type: "POST",
                                dataType: "json",
                                url: "/Sysmgr/AdLink/Deletes",
                                data: { data: JSON.stringify(data) },
                                error: function (request) {
                                },
                                success: function (data) {
                                    alert("刪除成功！");
                                    setTimeout(function () {
                                        location.href = location.href;
                                    }, 1000);
                                }
                            });
                        },
                        "取消": function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

            $("#checkboxAll").change(function () {
                if ($(this).is(":checked")) {
                    $("input[name='checkbox']").attr("checked", "checked");
                } else {
                    $("input[name='checkbox']").removeAttr("checked");
                }
            });

        });
    </script>
}
<!--主要內容-->
<article id="content" class="contentArea">
    <section class="btnArea"><a href="/Sysmgr/AdLink/Add" class="add"><span class="icon-plus"></span>新增廣告圖</a></section>
    <h1>首頁管理 <span>/ 廣告圖列表</span><span class="tip">
        <section class="tipBox">
            <span>&nbsp;</span>
            <ul>
                <li>下列是目前文章列表。您可點選每條內容後面的  '編輯' 及 '刪除' 圖示進行您需要的動作。</li>
                <li>前後台圖片顯示均以排序欄位填寫之數字做為排序，數字 由大往下排列至小。若無設定或相同數字者，則以建立時間最新往下排列至最舊。</li>
                <li>圖片新增時，Sort 數值預設依目前排序往上+1</li>
            </ul>
        </section>
    </span>
    </h1>
    <section class="selectArea">
        <div class="selectMenu">
            <p>顯示狀態 :</p>
            <select name="selectItem" id="selectItem">
                <option value="">請選擇</option>
                @if (Request["status"] == "1")
                {
                    <option value="1" selected>上線中</option>
                }
                else
                {
                    <option value="1">上線中</option>
                }
                @if (Request["status"] == "0")
                {
                    <option value="0" selected>下線中</option>
                }
                else
                {
                    <option value="0">下線中</option>
                }
            </select>
        </div>
        <input type="button" value="送出" onclick="location.href = '/Sysmgr/AdLink/Index?status=' + $('#selectItem').val()">
    </section>

    <section class="tableArea">
        <table border="0" class="responsive" cellpadding="0" cellspacing="0">
            <thead>
                <tr class="titlebar">
                    <td class="no">
                        @if (Request["ordery"] == "sortasc")
                        {
                            <a href='/Sysmgr/AdLink/Index?status=@Request["status"]&ordery=sortdesc'>排序</a>
                        }
                        else
                        {
                            <a href='/Sysmgr/AdLink/Index?status=@Request["status"]&ordery=sortasc'>排序</a>
                        }
                    </td>
                    <td class="checkbox">
                        <input type="checkbox" name="checkboxAll" id="checkboxAll"></td>
                    <td class="alignLeft">廣告圖</td>
                    <td class="alignLeft">主題</td>
                    <td class="minWidth">點閱數</td>
                    <td class="minWidth">上線狀態</td>
                    <td class="time minWidth">
                        @if (Request["ordery"] == "timeasc")
                        {
                            <a href='/Sysmgr/AdLink/Index?status=@Request["status"]&ordery=timedesc' class="sortUp">建立時間</a>
                        }
                        else
                        {
                            <a href='/Sysmgr/AdLink/Index?status=@Request["status"]&ordery=timeasc' class="sortDown">建立時間</a>
                        }
                    </td>
                    <td class="btn minWidth">功能</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="8" align="center">暫無資料！</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="text" class="sort" value="@item.Sort" data-id="@item.ID"></td>
                        <td>
                            <input type="checkbox" name="checkbox" data-id="@item.ID" id="checkbox"></td>
                        <td class="alignLeft">
                            <img src="@item.Photo"></td>
                        <td class="alignLeft"><strong>@item.Title</strong><br>@item.SubTitle</td>
                        <td>@(item.ReadCount == null ? 0 : item.ReadCount)</td>
                        <td>
                            @if (item.Status == 1)
                            {
                                <span class="icon-on" title="上線中"></span>
                            }
                            else
                            {
                                <span class="icon-off" title="下線中"></span>
                            }
                        </td>
                        <td class="num">@item.CDate.Value.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <p class="function">
                                <a href="/Sysmgr/AdLink/Edit?id=@item.ID&ret=@HttpUtility.UrlEncode(Request.Url.ToString())" class="icon-edit" title="編輯"></a>
                                <a href="javascript:;" data-id="@item.ID" data-title="@item.Title" class="icon-trash-bin" title="刪除"></a>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>

    @{
        var data = Model as IPagedList<Academy.Models.AdLink>;
    }
    <section class="numberArea">
        <p>
            共 : 
            @data.PageCount 頁  /  總共 : @data.TotalItemCount 筆記錄
        </p>
        <ul>
            @Html.PagedListPager(data, page => Url.Action("Index", new { page = page, status = Request["status"], ordery = Request["ordery"] }), new PagedListRenderOptions() { LinkToFirstPageFormat = "首頁", LinkToNextPageFormat = "下一頁", LinkToPreviousPageFormat = "上一頁", LinkToLastPageFormat = "末頁", DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "共有 {2} 筆", MaximumPageNumbersToDisplay = 5 })
        </ul>
    </section>
    <!--功能操作-->
    <section class="openArea"><span title="開啟執行列" class="open">開啟執行列</span></section>
    <section class="functionArea">
        <span title="關閉執行列" class="close">關閉執行列</span><span id="closeShort" title="關閉執行列" class="close">關閉執行列</span>
        <div>
            <p>回上一頁</p>
            <input name="" type="button" value="x" class="btnBackto">
        </div>
        <div>
            <p>更新排序</p>
            <input name="" type="button" value="k" class="btnSort">
        </div>
        <div>
            <p>刪除勾選</p>
            <input name="" type="button" value="K" class="btnDelete">
        </div>
    </section>
</article>
