@model Academy.Models.NewsCata

@{
    Layout = "~/Areas/Sysmgr/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script>
        $(function () {
            // binds form submission and fields to the validation engine
            $.validationEngine.defaults.scroll = false;
            $("#formcontent").validationEngine();

        });
    </script>
}

<!--主要內容-->
<article class="contentArea" id="content">
    @using (Html.BeginForm("Edit", "NewsCata", FormMethod.Post, new { id = "formcontent" }))
    {       
        <h1>資訊管理<span>/ 編輯類別</span>
            <span class="tip">
                <section class="tipBox">
                    <span>&nbsp;</span>
                    <ul>
                        <li>填入您要新增的資訊。 *為必填欄位。</li>
                    </ul>
                </section>
            </span>
        </h1>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)
        <section class="detailGroup">
            <h3>基本資料</h3>
            <ul>
                <li>
                    <p class="title">類別名稱<span class="mark"> *</span> :</p>
                    @Html.TextBoxFor(model => model.Title, new { @class = "validate[required,maxSize[30]] text-input", maxlength = "31" })
                    <mark class="mark">(最多請輸入 30中英文字元)</mark>
                </li>
                <li>
                    <p class="title">類別標識<span class="mark"> *</span> :</p>
                    @Html.TextBoxFor(model => model.Code, new { @class = "validate[required,maxSize[30]] text-input", maxlength = "31" })
                    <mark class="mark">(最多請輸入 30中英文字元)</mark>
                </li>
                <li>
                    <p class="title">跳轉地址 :</p>
                    @Html.TextBoxFor(model => model.LinkPath, new { maxlength = "1000", style = "width:300px" })
                    <mark class="mark">(默認為空，不跳轉)</mark>
                </li>
                <li>
                    <p class="title">顯示狀態<span class="mark"> *</span> : </p>
                    @Html.RadioButtonFor(model => model.Status, 1, new { @id = "StatusYes", @class = "validate[required] radio", @checked = "checked" })
                    <span class="icon-on" for="StatusYes" title="是"></span>
                    @Html.RadioButtonFor(model => model.Status, 0, new { @id = "StatusNo", value = 0, @class = "validate[required] radio" })
                    <span class="icon-off" for="StatusNo" title="否"></span>
                </li>
            </ul>
        </section>
        if (Model != null)
        {
        <section class="detailGroup">
            <h3>更新記錄</h3>
            <ul>
                @if (Model.LUser != null)
                {
                    <li>
                        <p class="title">修改資訊 : </p>
                        <p class="info">@Model.LDate.Value.ToString("yyyy-MM-dd HH:mm:ss") | @Academy.Common.GetData.GetUserNameByID(Model.LUser)</p>
                    </li>
                }
                @if (Model.CUser != null)
                {
                    <li>
                        <p class="title">建立資訊 : </p>
                        <p class="info">@Model.CDate.Value.ToString("yyyy-MM-dd HH:mm:ss") | @Academy.Common.GetData.GetUserNameByID(Model.CUser)</p>
                    </li>
                }
            </ul>
        </section>
        }

        <!--功能操作-->
        <section class="openArea">
            <span class="open" title="開啟執行列">開啟執行列</span>
        </section>
        <section class="functionArea">
            <span class="close" title="關閉執行列">關閉執行列</span>
            <span class="close" title="關閉執行列" id="closeShort"></span>

            <div>
                <input name="按鈕" type="button" class="btnBack" value="x 回上一頁">
                <input name="送出" type="submit" class="btnAdd" value="B 確定修改">
            </div>
        </section>
    }
</article>
